<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arhi.mapper.OrderMapper">
   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="top.arhi.model.pojo.Order">
      <id column="id" property="id" />
      <result column="order_id" property="orderId" />
   </resultMap>

    <sql id="Base_Column_List">
    id,
    order_id
    </sql>

    <insert id="save" parameterType="top.arhi.model.pojo.Order">
        insert into t_order
        (id,
         sharding_db_id,
         sharding_table_id)
        values (#{id},
                #{shardingDbId},
                #{shardingTableId})
    </insert>

</mapper>